*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #000000;
    --text-color:#ffffff; 
    --head-color: rgb(17, 152, 17);
    --p-color: rgb(158, 148, 148);
    --head-font: 1.9rem;
    --p-font: 15px;
    --small-font: 0.7rem;

}
body{
    background-color: #292828;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    font-family: Cambria;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding-top: 10px;
    padding-left: 10%;
    transition: .3s;

}
.navlist{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 410px;
}
/* .navlist li{
    position: relative;
} */
.navlist a{
    font-size: 15px;
    font-family: Cambria;
    color: rgb(145, 137, 137);
    font-weight: 250;
    padding: 10px 24px 15px;
}
.navlist a::after{
    background-color: transparent;
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    transition: ease .40s;
}
.navlist a:hover {
    color: white;
    display: inline;
}
/* .search img{
    width: 40px;
    height: 35px;
    padding-right: 75px;
} */
#menu-icon{
    font-size: 35px;
    color: white;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
#top{
    color: white;
}
/************ body ***************/
.box1{
    margin-top: 50px;
    height: 55px;
    width: 100%;
    background-color: rgba(59, 56, 56, 0.411);
    border-bottom: 1.8px solid rgb(15, 163, 15);
}
.box1 .list{
    display: flex;
    flex-direction: row;
    padding: 0px 100px 5px 150px;
}
.box1 .list li{
    color: var(--text-color);
    padding: 22px;
    font-size: var(--small-font);
    font-family: Arial, Helvetica, sans-serif;
}
.home1{
    height: 45px;
    width: 100%;
    align-items: center;
    background-color: rgb(129, 124, 124);
    padding: 14px;
}
.home1 p{
    color: var(--text-color);
    font-size: 15px;
}
.home1 p a{
    color: var(--text-color);
}
.home1 p a:hover{
    text-decoration: underline;
}
.box2{
    padding: 0px 100px 40px 90px;
    background-color: #2b2727;
    background-image: url();
}
.box2 h4{
    font-family: 'Gill Sans';
    color: var(--head-color);
    font-size: var(--head-font);
    padding-top: 36px;
    padding-bottom: 10px;
}
.box2 p{
    color: var(--p-color);
    font-size: var(--p-font);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    
}
.boxs{
    display: grid;
    padding: 22px 125px 20px 125px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 12px;
    /* column-gap: 15px; */
    background-color: #393737;
}
.box-one{
    background-color: #000000;
    height: 530px;
    width: 402px;
    border: none;
    border-bottom: 1.8px solid rgb(15, 163, 15);
    overflow: hidden;
}
.box-one img{
    height: 402px;
    width: 402;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.box-one img:hover{
    transform: scale(1.1);
}
.box-one .head{
    height: 34px;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
}
.box-one p{
    padding: 10px;
    height: 52px;
    width: 100%;
    color: var(--p-color);
    font-size: var(--p-font);
    padding: 10px;
}
.box-one a{
    height: 47px;
    padding: 10px;
    width: 100%;
    color: rgb(15, 158, 15);
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.box-one a:hover{
    text-decoration: underline;
}
.bg1{
    height:699.2px;
    width: 100%;
    background-image: url(../assets/images/pc-images/1920x700-desktop-cat-banner-completeyoursetup.webp);
    border-bottom: 1.8px solid rgb(15, 163, 15);
}
.bg1 h2{
    height: 95px;
    width: 100%;
    font-size: 28px;
    padding-top: 65px;
    color: var(--text-color);
}
.bg1 p{
    height: 54px;
    width: 100%;
    font-size: 18px;
    padding-top: 7px;
    color: var(--p-color);
}
.bg1 ul{
    height: 27.8px;
    width: 100%;
    font-size: 16px;
}
.bg1 ul li{
    color: rgb(15, 158, 15);
}
.boxss{
    display: grid;
    padding: 10px 125px 20px 125px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #2b2727;
    overflow: hidden;
}
.box-ones{
    background-color: #000000;
    height: 454.6px;
    width: 282px;
    border: none;
    border-bottom: 1.8px solid rgb(15, 163, 15);
    overflow: hidden;
}
.box-ones img{
    height: 282px;
    width: 282;
    transition: transform 0.3s ease;
}
.box-ones img:hover{
    transform: scale(1.05);
    
}
.box-ones .head{
    height: 31.6px;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    font-size: 19px;
    padding: 10px;
}
.box-ones p{
    padding: 10px;
    height: 94px;
    width: 100%;
    color: var(--p-color);
    font-size: 14px;
    padding: 10px;
}
.box-ones a{
    height: 47px;
    padding: 10px;
    width: 100%;
    color: rgb(15, 158, 15);
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.box-ones a:hover{
    text-decoration: underline;
}
.last {
  height: 400px;
  width: 100%;
  background-image: url(../assets/images/pc-images/ms-audio-banner-desktop.webp);
}
.last .last-box{
    padding: 50px 10px 5px 900px;
}
.last-one{
    height: 288px;
    width: 480px;
    padding: 0px 16px;
}
.last-one h2{
    width: 488px;
    height: 30px;
    color: rgb(11, 146, 11);
    font-size: 28px;
    padding: 16px 0px;
}
.last-one p{
    width: 488px;
    height: 97px;
    font-size: 18px;
    color: var(--p-color);
    font-size: 17px;
    padding-top: 22px;
}
.last-one img{
    width: 310px;
    height: 45px;

}
.last-one em{
    width: 488px;
    height: 36px;
    margin: 25px 0px 0px;
    color: var(--p-color);
    font-size: 12px;
}
footer{
    background-color: rgb(22, 20, 20);
    padding: 25px 135px 5px 135px;
}
.footer-box{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 25%;
    border-bottom: 1px solid rgb(109, 102, 102);
}

footer ul{
    width: 146.16px;
    height: 312px;
    
}
.footer-div li{
    padding: 4px 0px 10px;
    font-size: 13px;
    width: 146.16;
    height: 34;
}
.footer-div li a{
    color: #7b7373;
}
.footer-div li a:hover{
    color: white;
    text-decoration: underline;
}
.footer .footer-icon{
    width: 146.16px;
    height: 266px;
}
.footer-icon li{
    padding: 0px 0px 3px;
    
}
.footer-icon li img{
    width: 28px;
    height: 28px;
}
.footer-icons ul{
    height: 34px;
    width:150px;
}
.footer-end{
    padding: 15px 0px 20px 0px;
}
.footer-end span{
    font-size: 12px;
    color: rgb(148, 144, 144);
    padding-right: 10px;
}
.footer-end a{
    font-size: 12px;
    color: rgb(148, 144, 144);
    padding-right: 10px;
}
.footer-end a:hover{
    color: white;
    text-decoration: underline;
    transition: .2s ease;
}
.footer-end #footer-span{
    font-size: 12px;
    color: #ffffff;padding-left: 390px;
}

/**************************************** console-css *****************************************/
.store-imgbox{
    background-color: rgb(34, 31, 31);
    padding: 30px 500px 8px;
    display: flex;
    flex-direction: row;
    border-bottom: 1.8px solid rgb(15, 163, 15);
    
}
.store-imgbox .box{
    padding: 17px;
    padding-top: 35px;
}
.box img{
    height: 35px;
    width: 35px;
}
.box p{
    padding-top: 8px;
    padding-left: 0px;
    color: white;
    font-size: 12px;
    
}
.box a{
    padding-top: 8px;
    padding-left: 0px;
    color: white;
    font-size: 12px;
    
}
.box a:hover{
    color: rgb(14, 166, 14);
}
.box span{
    padding-top: 8px;
    padding-left: 0px;
    color: rgb(231, 177, 78);
    font-size: 12px;
}
.bg2{
    height:699.2px;
    width: 100%;
    background-image: url(../assets/images/console-images/razer-kitsune-desktop-banner.jpg);
    border-bottom: 1.8px solid rgb(15, 163, 15);
}
.bg2 h2{
    height: 95px;
    width: 100%;
    font-size: 28px;
    padding-top: 65px;
    color: var(--text-color);
}
.bg2 p{
    height: 54px;
    width: 100%;
    font-size: 18px;
    padding-top: 7px;
    color: var(--p-color);
}
.bg2 ul{
    height: 27.8px;
    width: 100%;
    font-size: 16px;
}
.bg2 ul li{
    color: rgb(15, 158, 15);
}
.bg3{
    height:625.2px;
    width: 100%;
    background-image: url(../assets/images/console-images/razer-wolverine-v2-chroma-category-1920x700-desktop.jpg);
    border-bottom: 1.8px solid rgb(15, 163, 15);
}
.console-bgtext{
    height: 400px;
    width: 100%;
    background-image: url(../assets/images/console-images/new-year-2024-1920x400.webp);
}
.console-bgtext .box{
    width: 317.51;
    height: 241.2px;
    padding-left: 950px;
    padding-top: 45px;padding-right: 0px;
}
.console-bgtext .box h2{
    color: #ffffff;
    font-size: 28px;
    margin: 48px 0px 16px;
    height: 67.2px;
    width: 221.51;
}
.console-bgtext .box p{
    color: #5f5858;
    font-size: 18px;
    height: 54px;
    width: 221.51;
}
.console-bgtext .box a{
    color: rgb(47, 193, 47);
    font-size: 14px;
    padding-top: 10px;
}
.console-bg2{
    height:699.2px;
    width: 100%;
    background-image: url(../assets/images/console-images/gamesetmatch-category-1920x700-desktop\ \(1\).jpg);
    border-bottom: 1.8px solid rgb(15, 163, 15);
}
.console-bg2 h2{
    height: 95px;
    width: 100%;
    font-size: 28px;
    padding-top: 65px;
    color: var(--text-color);
}
.console-bg2 p{
    height: 54px;
    width: 100%;
    font-size: 18px;
    padding-top: 7px;
    color: var(--p-color);
}
.console-bg2 ul{
    height: 27.8px;
    width: 100%;
    font-size: 16px;
}
.console-bg2 ul li{
    color: rgb(15, 158, 15);
}
.console-bg3{
    height:699.2px;
    width: 100%;
    background-image: url(../assets/images/console-images/razer-wolverine-v2-chroma-category-1920x700-desktop.jpg);
    border-bottom: 1.8px solid rgb(15, 163, 15);
}
.console-bg3 h2{
    height: 95px;
    width: 100%;
    font-size: 28px;
    padding-top: 65px;
    color: var(--text-color);
}
.console-bg3 p{
    height: 54px;
    width: 100%;
    font-size: 18px;
    padding-top: 7px;
    color: var(--p-color);
}
.console-bg3 ul{
    height: 27.8px;
    width: 100%;
    font-size: 16px;
}
.console-bg3 ul li{
    color: rgb(15, 158, 15);
}
.console-bg4{
    height:699.2px;
    width: 100%;
    background-image: url(../assets/images/console-images/connect-compete-conquer-category-2023-1920x700-desktop.jpg);
    border-bottom: 1.8px solid rgb(15, 163, 15);
}
.console-bg4 h2{
    height: 95px;
    width: 100%;
    font-size: 28px;
    padding-top: 65px;
    color: var(--text-color);
}
.console-bg4 p{
    height: 54px;
    width: 100%;
    font-size: 18px;
    padding-top: 7px;
    color: var(--p-color);
}
.console-bg4 ul{
    height: 27.8px;
    width: 100%;
    font-size: 16px;
}
.console-bg4 ul li{
    color: rgb(15, 158, 15);
}
.console-bgtext1{
    height: 400px;
    width: 100%;
    background-image: url(../assets/images/console-images/new-year-2024-1920x400.webp);
}
.console-bgtext1 .box1{
    width: 400px;
    height: 400px;
    margin: 60px 110px;
    border: none;
}
.console-bgtext1 .box1 h2{
    
    height: 100px;
    color: #ffffff;
    font-size: 28px;
    padding: 70px 10px 15px;
}
.console-bgtext1 .box1 p{
    
    height: 140px;
    color: grey;
    font-size: 16px;
    padding: 60px 5px 20px;
}
.console-bgtext1 .box1 a{

    padding-left: 5px;
    height: 25px;
    color: rgb(7, 173, 7);
    font-size: 14px;
    
}

/******************************** mobile-css *********************************/
.store-imgbox1{
    background-color: rgb(40, 37, 37);
    padding: 30px 500px 8px 350px;
    display: flex;
    flex-direction: row;
    border-bottom: 1.8px solid rgb(15, 163, 15);
    
}
.store-imgbox1 .box{
    padding: 17px;
    padding-top: 35px;
}
.mobile-bg2{
    height:699.2px;
    width: 100%;
    background-image: url(../assets/images/mobile-images/razer-edge-1920x700-desktop-cat-banner\ \(1\).jpg);
    border-bottom: 1.8px solid rgb(15, 163, 15);
}
.mobile-bg2 h2{
    height: 95px;
    width: 100%;
    font-size: 28px;
    padding-top: 50px;
    color: white;
}
.mobile-bg2 p{
    height: 54px;
    width: 100%;
    font-size: 18px;
    padding-top: 7px;
    color: var(--p-color);
}
.mobile-bg2 ul{
    height: 27.8px;
    width: 100%;
    font-size: 16px;
}
.mobile-bg2 ul li{
    color: rgb(15, 158, 15);
}
.mobile-bg3{
    height:699.2px;
    width: 100%;
    background-image: url(../assets/images/mobile-images/stay-in-sync-1920x700\ \(1\).jpg);
    border-bottom: 1.8px solid rgb(15, 163, 15);
    margin-top: 15px;
}
.mobile-bg2 h3{
    height: 95px;
    width: 100%;
    font-size: 28px;
    padding-top: 100px;
    color: var(--text-color);
}
.mobile-bg3 p{
    height: 54px;
    width: 100%;
    font-size: 18px;
    padding-top: 7px;
    color: var(--p-color);
}
.mobile-bg3 ul{
    height: 27.8px;
    width: 100%;
    font-size: 16px;
}
.mobile-bg3 ul li{
    color: rgb(15, 158, 15);
}
.mobile-bg4{
    height:699.2px;
    width: 100%;
    background-image: url(../assets/images/mobile-images/gothe-extramile-category-1920x700-desktop\ \(1\).jpg);
    border-bottom: 1.8px solid rgb(15, 163, 15);
}
.mobile-bg4 h2{
    height: 95px;
    width: 100%;
    font-size: 28px;
    padding-top: 65px;
    color: var(--text-color);
}
.mobile-bg4 p{
    height: 54px;
    width: 100%;
    font-size: 18px;
    padding-top: 7px;
    color: var(--p-color);
}
.mobile-bg4 ul{
    height: 27.8px;
    width: 100%;
    font-size: 16px;
}
.mobile-bg4 ul li{
    color: rgb(15, 158, 15);
}
/**************************** lifestyle-css *************************************************/

.text-bg{
    background-color: #141313;
    height: 229px;
    width: 100%;
    padding: 34px 210px;
    color: #ffffff;
}
.text-bg .text{
    height: 133px;
    width: 1030.4px;
    margin:  25.2px;
    font-size: 16px;
}
.text h6{
    color: rgb(10, 141, 10);
    font-size: 26px;
    font-weight: 200;
    height: 41px;
    width: 932px;
    margin: 0px 0px 8px ;
    padding: 0px 0px 8px ;
    font-family: Arial, Helvetica, sans-serif;
}
.text p{
    color: #3f3d3d;
    font-size: 18px;
    height: 84px;
    line-height: 27px;
}
.bg-image{
    height: 700px;
    width: 100%;
    background-image: url(../assets/images/lifestyle-images/1920x700-desktop-cat-banner-chairs.webp);
}
.bg-image .image{
    height: 688px;
    width: 100%;
    margin: 0px;
    padding: 0px 16px ;
}
.bg-image .image h6{
    height: 26px;
    font-size: 28px;
    color: #ffffff;
    padding: 50px 0px;
    font-weight: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
.bg-image .image p{
    height: 27px;
    width: 920;
    font-size: 18px;
    color: #827a7a;
    padding-bottom: 55px;
    line-height: 27px;
}
.bg-image .image ul{
    height: 56px;
    width: 100% ;
    font-size: 17px;
}
.bg-image .image li{
    color: rgb(12, 167, 12);
}