*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
}
body{
    background-color: rgb(59, 52, 52);
}


header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 18%;
    transition: .3s;

}
.navlist{
    display: flex;
}
.navlist li{
    position: relative;
}
.navlist a{
    font-size: 17px;
    color: rgb(145, 137, 137);
    font-weight: 250;
    padding: 10px 27px;
}
.navlist a::after{
    background-color: transparent;
    content: '';
    position: absolute;
    width: 0;
    /* height: 2px; */
    /* color: white; */
    /* bottom: -3px; */
    left: 0;
    transition: ease .40s;
}
.navlist a:hover {
    color: white;
}
/* .navlist a:hover::after{
    background-color: white;
    width: 100%;
} */
#menu-icon{
    font-size: 35px;
    color: white;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
/* .main-text-logo{
    margin: 0;
    padding: 0;
} */
.home{
    margin-top: 50px;
    height: 45px;
    width: 100%;
    background-color: rgba(83, 72, 72, 0.411);
}
.home p{
    padding: 11px;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
    color: white;
}
.bg{
    min-height: 100vh;
    background-image: url(../assets/images/main-index/razer-blade-14-homepage-desktop2x.webp);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.bg1{
    min-height: 100vh;
    background-image: url(../assets/images/main-index/razer-new-year-2024-campaign-homepage-large-2x.webp);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.bg2{
    min-height: 100vh;
    background-image: url(../assets/images/main-index/razer-iskur-v2-homepage-desktop2x.webp);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
h1{
    padding-top: 50px;
    padding: 20px;
    font-size: 65px;
    font-weight: 400;
    color: white;
    align-items: center;
}
h3{
    padding: 2px;
    font-weight: 300;
    font-size: 30px;
    color: white;
    align-items: center;
}
h5{
    padding: 5px;
    font-weight: 200;
    font-size: 25px;
    color: white;
    align-items: center;
}

.gap{
    height:8px;  
    color:rgb(34, 20, 20);
}

.division{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 0.65rem;
    row-gap: 0.7rem;
}
.row{
    width: 750px;
    height: 500px;
    background-image: url(../assets/images/main-index/razer-blade16-2024-b-950x580-desktop.webp);
    background-size: cover;
}
.row1{
    width: 750px;
    height: 500px;
    background-image: url(../assets/images/main-index/against-the-current-campaign-b-950x580-desktop.webp);
    background-size: cover;
}
.row2{
    width: 750px;
    height: 500px;
    background-image: url(../assets/images/main-index/razer-esports-line-b-950x580-desktop-v2.webp);
    background-size: cover;
}
.row3{
    width: 750px;
    height: 500px;
    background-image: url(../assets/images/main-index/new-synapse-chroma-open-beta-b-950x580-desktop.webp);
    background-size: cover;
}
.row4{
    width: 750px;
    height: 500px;
    background-image: url(../assets/images/main-index/fujin-pro-b-950x580-desktop.webp);
    background-size: cover;
}
.row5{
    width: 750px;
    height: 500px;
    background-image: url(../assets/images/main-index/ebonus-card-b-950x580-desktop.webp);
    background-size: cover;
}
h2{
    padding: 50px;
    padding-bottom: 10px;
    font-size: 33px;
    font-weight: 500;
    color: white;
    align-items: center;
}
h4{
    padding: 2px;
    font-weight: 400;
    font-size: 22px;
    color: white;
    align-items: center;
}
h6{
    padding: 5px;
    font-weight: 400;
    font-size: 15px;
    color: white;
    align-items: center;
}