
*{margin: 0; padding: 0;}body{
    margin: 0;
    background-image: url("../assets/images/Razer-login\ image.jpg");
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 180vh;
}
.top{
    border: 2px solid green;
    border-top: 0;
    border-left: 0px;
    border-right: 0;
    text-align: left;
    padding: 14px 0 5px 350px;
    color:white ;
    background-color: black;
    font-size: 18px;
    height:40px;

}
.login{
    background-color: black;
    display: flex;
    flex-direction: column;
    border: 1px solid black;   
    width: 25%;
    justify-content: center;
    /* align-items: center;  */
    height: 130vh;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.button-group{
    display: flex;
    margin-left: 20px;
    margin-top: 20px; 
    gap:20px;    
    
    
}
#p1{
    margin-left: 13px;
    margin-top: 10px;
    color:white;
}
#p2{
    margin-left: 13px;
    color:white;
}
.button-group button{
       height: 30px;
       width: 100px;
}
.line{
    border: 1px solid grey;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-top: 15px;
    margin-bottom: 20px;
    
}
.input-groups{
    display: flex;
    flex-direction: column;
    width:85%;
    gap: 25px;
    /* align-items: center;  */
    height: 50%;
    margin-left: 50px;
}
.input-groups input{
    width:270px;
    height:37px;
}
.small-box input{
    margin-bottom: 20px;
    width:45px;
    
}

.human-group{
    border: 1px solid grey;
    border-radius: 7px;
    margin: 40px;
    padding: 15px;
    width: 250px;
    height: 35px;
    

}
.checkbox-fontcolor{
    color:black
}
input.checkbox{
    /* width: 20px; */
    margin-top: 12px;
    margin-left: 20px;
    transform: scale(1.7);
}
label.checkbox-gap{
    
    padding-left: 15px ;
}
.accept-button{
    /* width: 400px;  */
    height:40px;
    /* display: flexbox; */
    margin-left: 100px;
}
/* login page */
.loginbox{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    height: 70vh;
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
.logininput-groups{
    display: flex;
    flex-direction: column;
    width:50%;
    gap: 25px;
    height: 50%;
    margin: 10px 0 10px 40px;
    
}
.logininput-groups input{
    width:280px;
    height:37px;
    border-radius: 5px;
}
#p3{
    color: white;
    margin: 10px 0 0 140px;
}
.loginb{
    margin: 40px 0px 10px 110px;
}
.login-loginbutton{
    width: 200px;
    height: 25px;
}