*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #000000;
    --text-color:#ffffff; 
    --head-color: rgb(17, 152, 17);
    --p-color: rgb(158, 148, 148);
    --head-font: 1.9rem;
    --p-font: 16px;
    --small-font: 0.7rem;

}
body{
    background-color: #292929;
}
header{
    font-family: Cambria;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding-top: 10px;
    padding-left: 10%;
    transition: .3s;

}
.navlist{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 440px;
}
/* .navlist li{
    position: relative;
} */
.navlist a{
    font-size: 17px;
    color: rgb(145, 137, 137);
    font-weight: 250;
    padding: 10px 24px;
}
.navlist a::after{
    background-color: transparent;
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    transition: ease .40s;
}
.navlist a:hover {
    color: white;
    display: inline;
}
.search a i{
    color: white;
}
#menu-icon{
    font-size: 35px;
    color: white;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
/************ body ***************/
.box1{
    margin-top: 50px;
    height: 55px;
    width: 100%;
    background-color: rgba(59, 56, 56, 0.411);
    border-bottom: 1.5px solid rgb(15, 163, 15);
}
.box1 .list{
    display: flex;
    flex-direction: row;
    padding: 0px 100px 5px 150px;
}
.box1 .list li{
    color: var(--text-color);
    padding: 22px;
    font-size: var(--small-font);
    font-family: Arial, Helvetica, sans-serif;
}
.home{
    height: 45px;
    width: 100%;
    align-items: center;
    background-color: rgb(129, 124, 124);
    padding: 14px;
}
.home p{
    color: var(--text-color);
    font-size: var(--p-font);
}
.home p a{
    color: var(--text-color);
}
.home p a:hover{
    text-decoration: underline;
}
.text-content{
    padding: 0px 100px 10px 140px;
    background-color: #000000;
}
.box2{
    padding: 0px 100px 40px 90px;
    background-color: #000000;
    background-image: url(\);
}
.box2 h4{
    font-family: 'Gill Sans';
    color: var(--head-color);
    font-size: var(--head-font);
    padding-top: 36px;
    padding-bottom: 10px;
}
.box2 p{
    color: var(--p-color);
    font-size: var(--p-font);
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    
}