
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

*{margin: 0; padding: 0; font-family: rob;}body{
    margin: 0;
    background-image: url("../assets/images/Razer-login\ image.jpg");
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 185vh;
}
.body1{
    margin: 0;
    background-image: url("../assets/images/Razer-login\ image.jpg");
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 100vh;
}
.top{
    border: 2px solid green;
    border-top: 0;
    border-left: 0px;
    border-right: 0;
    text-align: left;
    padding: 10px 0 5px 300px;
    color:white ;
    background-color: black;
    font-size: 18px;
    height:40px;

}
.top-p{
    padding-top: 0px;
}
.login{
    background-color: black;
    display: flex;
    flex-direction: column;
    border: 1px solid black;   
    width: 25%;
    justify-content: center;
    /* align-items: center;  */
    height: 160vh;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 30px 10px ;

    
}

.button-group{
    display: flex;
    margin-left: 20px;
    margin-top: 20px; 
    gap:20px;
}
.button-group .item-1{
    background-color: rgb(55, 141, 228);
    border:0px;
    border-radius: 3px;
}
.button-group .item-2{
    background-color: white;
    border:0px;
    border-radius: 3px;
}
.button-group .item-3{
    background-color: rgb(147, 33, 200);
    border:0px;
    border-radius: 3px;
}
#p{
    margin-top: 25px;
    margin-left: 39px;
    color:white;
}
#p1{
    margin-left: 13px;
    margin-top: 10px;
    color:white;
}

#ps{
    margin-left: 8px;
    color:white;
    margin-top: 0px;
    margin-bottom: 20px;
}
.button-group button{
       height: 30px;
       width: 100px;
}
.line{
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    margin-top: 20px;
    outline: none;
    line-height: 0.1em;
    text-align: center;
}
.line span{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 600;
    color: grey;
}
.input-groups{
    display: flex;
    flex-direction: column;
    width:85%;
    gap: 25px;
    /* align-items: center;  */
    height: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.input-groups input{
    width:350px;
    height:40px;
    border: 0.6px solid grey;
    border-color: grey;
    background-color: black;
    border-radius: 3px;
    background-repeat: no-repeat;
}
.input-groups.hbd{
    background-image: url("../assets/images/icon-question-grey.332c47a4.svg");
    /* padding-right: 30px; */
}
.small-box input{
    margin-bottom: 20px;
    width:45px;
    
}

.human-group{
    border: 1px solid grey;
    border-radius: 7px;
    margin: 40px;
    padding: 15px;
    width: 250px;
    height: 35px;
    

}
.checkbox-fontcolor{
    color:black
}
input.checkbox{
    /* width: 20px; */
    margin-top: 12px;
    margin-left: 20px;
    transform: scale(1.7);
}
label.checkbox-gap{
    
    padding-left: 15px ;
}
.button {
    background-color: rgb(52, 125, 52);
    color: rgb(6, 66, 6);
    border: none;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px 2px 40px;
    cursor: pointer;
    width:300px;
    height: 30px;
    
  }


/* login page */
.loginbox{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    height: 60vh;
    width: 390px;
    padding: 0px 10px 10px 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
.logininput-groups{
    display: flex;
    flex-direction: column;
    width:50%;
    gap: 25px;
    height: 100px;
    margin: 20px 0 10px 40px;
    
}
.logininput-groups input{
    width:280px;
    height:37px;
    border-radius: 5px;
    border:1px solid grey;
    background-color: black;
}
#p3{
    color: rgb(10, 128, 10);
    margin: 10px 0 0 140px;
}
#arrow{
    color: white;
    text-decoration: none;
}
#arrow:hover{
    color: rgb(10, 128, 10);
}
.login-loginbutton{
    width: 200px;
    height: 25px;
}
.bottom{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.7);
    /* grid-gap: 16px; */
    padding: 17px;
    

}
.bottom-p{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.7);
    /* grid-gap: 16px; */
    margin-top: 135px;
    padding: 17px;
    

}

/****************** main-index css *************/
